html
  head
    title DSFR Documentation
  body
    h1 DSFR Documentation
    h2 Versions
    ul
      each version in versions
        li
          a(href=`v${version}/example/index.html`) v#{version}
