html
  head
    title DSFR Documentation
  body
    h1 DSFR Documentation
    h2 Versions
    table
      thead
        tr
          th Version
          th Documentation
          th Storybook
      each version in versions
        tr
          th v#{version.number} :
          td
            a(href=`v${version.number}/example/index.html`) Documentation
          td
            if version.storybook
              a(href=`v${version.number}/storybook/index.html`) Storybook
